.fill {	
	padding-top: 150px;	
    width: 100%;
    height: 50%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#sobre{
	color: white;
}

#sobre h2
    {
        font-size: 40px;
    }
#sobre strong
    {
        color: #DD5724;
    }
#sobre h3
    {
        padding-bottom: 30px;
    }